 *,
 *::after,
 *::before {
    box-sizing: content-box;

 }

 body,
 h1,
 h2,
 h3,
 p,
 ul,
 li {
    margin: 0;
    padding: 0;
 }

 .container {
    width: 70%;
    background-color: red;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
 }

 .container::after {
    content: '';
    display: block;
    padding-bottom: 56.25%;
 }

 .img {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    max-width: 100%;
 }